[submodule "lib/MazeEngine"]
	path = lib/MazeEngine
	url = git@github.com:ldyeax/MazeEngine.git
[submodule "lib/Fill-In-Matrix-Effect"]
	path = lib/Fill-In-Matrix-Effect
	url = git@github.com:ldyeax/Fill-In-Matrix-Effect.git
[submodule "lib/Win98Modal"]
	path = lib/Win98Modal
	url = https://github.com/ldyeax/Win98Modal
[submodule "lib/goals"]
	path = lib/goals
	url = https://github.com/ldyeax/goals
