RewriteEngine On
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} !-f
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} !-d
RewriteRule  ^(.*)$ /j/j.php?page=$1 [L,QSA,B]
# only apply to /
RewriteCond %{REQUEST_URI} ^/$
RewriteRule  ^(.*)$ /j/j.php?page=$1 [L,QSA,B]

Options FollowSymLinks
