#chiliParent {
	text-align: center;
	background-image: url("/img/chili.png");
	// center bg image
	background-position: center;
	// no repeat
	background-repeat: no-repeat;
	height: 100vh;
	
	#chiliChild {
		display: inline-block;
		text-align: left;
		background-color: #6C53D2bb;
		color: white;
		font-size: 24px;
		padding: 12px;
		margin-top: 12px;
		border-radius: 12px;
	}
}
