@font-face {
	font-family: "Celestia Medium Redux";
	src: url("/bin/Celestia-Medium-Redux.ttf.woff");
}

body {
	width: 100%;
	background-color: black;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	background-image: url("/img/20221118.jpg");
	@media only screen and (max-width: 1920px) {
		background-image: url("/img/20221118_1920.jpg");
	}
	background-size: cover;
	background-attachment: fixed;
	background-position: center;

	.backdrop-blur {
		backdrop-filter: blur(15px);
	}


	#header, #footer {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	#header {
		height: 150px;
		position: sticky;
		top: 0;
		width: 100%;
	}

	#footer {
		height: @footerHeight;
		position: fixed;
		bottom: 1px;
		width: 100%;
		z-index: 3;
	}

	iframe {
		border-style: none;
		outline-style: none;
	}

	#body.loading {
		display: none;
	}
	#bodyTmp {
		display: none;
	}
}
